---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to my Portfolio">
<h1>to be continued..</h1>
<Card title='test' body='Inhalt'	href='www.google.de'></Card>
</Layout>

