<div class="hero">
    <div class="hero-image">
        <img src="/foto.png" alt="My Image">
    </div>
    <div class="hero-text">   
        <h2>hi</h2>
        <h1>Ronny</h1>
        <h3>Developer</h3>
        <p> 
            ohvdohvhodjojdjgojdomvndvvoidehvo
        </p>


    </div>

    <style>
        .hero {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }
        .hero-text > * {
            text-align: center;
            margin-bottom: 0.5rem;
            margin-top: 0;
        }
        .hero .hero-image {
            height: 800px;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hero-image img {
            max-height: 100%;
            max-width: 100%;
        }
        .hero .hero-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .hero-text p {
            margin-top: 1rem;
            border: 1px solid rgb(62, 62, 62);
            background-color: rgba(0,0,0,0.3);
            border-radius: 15px;
            padding: 1rem;
            max-width: 40ch;
        }
        .hero-text p::before {
            color: var(--color-accent);
            content: '“';
        }
        .hero-text p::after {
            color: var(--color-accent);
            content: '”';
        }
        .color-accent {
            color: var(--color-accent);
        }
        .color-primary {
            color: var(--color-primary);
        }
        /* @media screen and (max-width: 821px) {
            .hero {
                flex-direction: column;
            }
        } */
    </style>